variables:
  # Needed for Arcade template
- name: _TeamName
  value: AspNetCore
  # Needed for Microbuild template
- name: TeamName
  value: AspNetCore
- name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
  value: true
- name: _PublishUsingPipelines
  value: true
- name: _BuildConfig
  value: Release
- template: /eng/common/templates/variables/pool-providers.yml@self
- name: skipComponentGovernanceDetection
  value: true

trigger:
  batch: true
  branches:
    include:
    - main
    - release/*
    - internal/release/*

pr:
  autoCancel: false
  branches:
    include:
    - '*'
    
resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release

extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  parameters:
    sdl:
      sourceAnalysisPool:
        name: $(DncEngInternalBuildPool)
        image: 1es-windows-2022-pt
        os: windows
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: build
      displayName: Build
      jobs:
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enableMicrobuild: true
          enablePublishBuildArtifacts: true
          enablePublishTestResults: true
          enablePublishBuildAssets: true
          enablePublishUsingPipelines: ${{ variables._PublishUsingPipelines }}
          enableTelemetry: true
          mergeTestResults: true
          jobs:
          - job: Windows
            pool:
              name: $(DncEngInternalBuildPool)
              image: 1es-windows-2022-pt
              os: windows
            variables:
            - group: Publish-Build-Assets
            - name: _OfficialBuildArgs
              value: /p:DotNetSignType=$(_SignType) 
                     /p:TeamName=$(_TeamName) 
                     /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines) 
                     /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
            - name: _SignType
              value: real
            steps:
            - checkout: self
              clean: true
            - script: eng\common\cibuild.cmd -configuration $(_BuildConfig) -prepareMachine $(_OfficialBuildArgs)
              displayName: Build and Publish
            - task: 1ES.PublishBuildArtifacts@1
              displayName: Upload TestResults
              condition: always()
              continueOnError: true
              inputs:
                PathtoPublish: artifacts/TestResults/$(_BuildConfig)/
                ArtifactName: $(Agent.Os)_$(Agent.JobName) TestResults
                PublishLocation: Container
            - task: 1ES.PublishBuildArtifacts@1
              displayName: Upload package artifacts
              condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false), eq(variables['_BuildConfig'], 'Release'))
              inputs:
                PathtoPublish: artifacts/packages/
                ArtifactName: artifacts
                PublishLocation: Container
    - template: /eng/common/templates-official/post-build/post-build.yml@self
      parameters:
        publishingInfraVersion: 3
        enableSymbolValidation: false
        enableSourceLinkValidation: false
        enableSigningValidation: false
        enableNugetValidation: false
        SDLValidationParameters:
          enable: true
          continueOnError: false
          params: ' -SourceToolsList @("policheck","credscan") 
          -TsaInstanceURL $(_TsaInstanceURL) 
          -TsaProjectName $(_TsaProjectName) 
          -TsaNotificationEmail $(_TsaNotificationEmail) 
          -TsaCodebaseAdmin $(_TsaCodebaseAdmin) 
          -TsaBugAreaPath $(_TsaBugAreaPath) 
          -TsaIterationPath $(_TsaIterationPath) 
          -TsaRepositoryName "ReverseProxy" 
          -TsaCodebaseName "ReverseProxy" 
          -TsaPublish $True -PoliCheckAdditionalRunConfigParams @("UserExclusionPath < $(Build.SourcesDirectory)/eng/PoliCheckExclusions.xml")'