-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail dotnetrp@microsoft.com
-TsaCodebaseAdmin REDMOND\karelz
-TsaBugAreaPath "DevDiv\ASP.NET Core\YARP"
-TsaIterationPath DevDiv
-TsaRepositoryName ReverseProxy
-TsaCodebaseName ReverseProxy
-TsaOnboard $True
-TsaPublish $True
-PoliCheckAdditionalRunConfigParams @("UserExclusionPath < $(Build.SourcesDirectory)/s/eng/PoliCheckExclusions.xml")
